* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
Cálculos  
qtde__pixels / 16 => para transformar em rem 
*/

body,
input,
label,
p {
  font-family: 'Poppins', sans-serif;
}

body::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 27.25rem;
  top: 0;
  left: 0;
  z-index: -1;
  background: #535971;
}

body {
  background-color: #e5e5e5;
}

.div__content__master {
  width: 46.875rem;
  margin: auto;
}

header {
  margin-top: 8.75rem;
  margin-bottom: 3.625rem;
}

header h1 {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Staatliches', sans-serif;
  color: #fff;
  margin-bottom: 1.125rem;
}

header p {
  font-size: 1.25rem;
  color: #fff;
}

fieldset {
  border: none;
}

main {
  border-radius: 20px;
  background-color: #fff;
}

main form fieldset {
  padding: 64px 64px 30px;
}

fieldset div legend {
  font-size: 1.5rem;
  line-height: 2.125rem;
  color: #535971;
  font-family: 'Staatliches', sans-serif;
  border-bottom: 1px solid #e6e6f0;
  margin-bottom: 36px;
  padding-bottom: 10px;
}

.name__and__surname {
  display: flex;
  gap: 22px;
}

.name__and__surname div,
.large__input__fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  margin-bottom: 20px;
}

.name__and__surname div label,
.large__input__fields label {
  font-size: 0.875rem;
  color: #4e4958;
}

.name__and__surname div input,
.large__input__fields input {
  height: 56px;
  border-radius: 8px;
  border: 1px solid #e6e6f0;
}

.large__input__fields label strong {
  font-size: 0.75rem;
  color: #c1bccc;
  font-weight: 400; 
}
